<title>traffic light</title>

<h1>Traffic Light Controller</h1>

<form action="/greenon">
<input type="submit" value="Green On">
</form>

<form action="/greenoff">
<input type="submit" value="Green Off">
</form>

<form action="/yellowon">
<input type="submit" value="Yellow On">
</form>

<form action="/yellowoff">
<input type="submit" value="Yellow Off">
</form>

<form action="/redon">
<input type="submit" value="Red On">
</form>

<form action="/redoff">
<input type="submit" value="Red Off">
</form>

<form action="/cycle">
<input type="submit" value="Cycle">
</form>

<form action="/stop">
<input type="submit" value="Stop Cycle">
</form>
